<?xml version="1.0" encoding="UTF-8"?>
<web-app
xmlns="https://jakarta.ee/xml/ns/jakartaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
version="5.0"
>







<servlet>
<servlet-name>student_add</servlet-name>
<servlet-class>_211047022.student_add</servlet-class>
</servlet>



<servlet>
<servlet-name>project_add</servlet-name>
<servlet-class>_211047022.project_add</servlet-class>
</servlet>

<servlet>
<servlet-name>student_project_add</servlet-name>
<servlet-class>_211047022.student_project_add</servlet-class>
</servlet>



<servlet>
<servlet-name>delete_student</servlet-name>
<servlet-class>_211047022.delete_student</servlet-class>
</servlet>



<servlet>
<servlet-name>project_delete</servlet-name>
<servlet-class>_211047011.project_delete</servlet-class>
</servlet>



<servlet>
<servlet-name>student_project_delete</servlet-name>
<servlet-class>_211047022.student_project_delete</servlet-class>
</servlet>



<servlet-mapping>
<servlet-name>student_add</servlet-name>
<url-pattern>/student_add</url-pattern>
</servlet-mapping>



<servlet-mapping>
<servlet-name>project_add</servlet-name>
<url-pattern>/project_add</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>student_project_add</servlet-name>
<url-pattern>/student_project_add</url-pattern>
</servlet-mapping>



<servlet-mapping>
<servlet-name>delete_student</servlet-name>
<url-pattern>/delete_student</url-pattern>
</servlet-mapping>



<servlet-mapping>
<servlet-name>project_delete</servlet-name>
<url-pattern>/project_delete</url-pattern>
</servlet-mapping>



<servlet-mapping>
<servlet-name>student_project_delete</servlet-name>
<url-pattern>/student_project_delete</url-pattern>
</servlet-mapping>



</web-app>